.sec1
{
	background-image:url("images/img1-1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:620px;
}
.sec1 i
{
	color:white;
	font-family: 'Lobster', cursive;
	/* font-family: 'Berkshire Swash', cursive; */
}
.sec1-1 h1
{
	color:white;
	text-align:center;
	padding-top:160px !important;
}
.caption 
{
    border-bottom: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
}
.about
{
	margin-top: 50px;
    margin-bottom: 31px;
}
.about-2 p 
{
	color:black;
}
.skills
{
	background-image:url("images/myskills.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:639px;
}
.skills h1,p
{
	text-align:center;
	color:white;
}
.skills1 h4
{
	color:white;
}



/* contact page starts */
.contact 
{
	background-image:url("images/contact.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:500px;
}
.contact h1
{
	color:#009966;
	margin-top: 8%;
}
.name
{
	border: none!important;
    background-color: transparent!important;
    border-bottom: 1px solid white!important;
    width: 41%!important;
	margin-left: 30%;
    margin-top: 37px;
    margin-bottom: 30px;
	
}
.name:hover
{
	border: none!important;
	 border-bottom: 1px solid #009966!important;
}
.form-control:focus
{
	border: none!important;
	border-bottom: 1px solid #009966!important;
	box-shadow:none!important;
}
.form-control
{
	width:40%;
	font-size:18px!important;
}
.submit
{
	padding: 12px 36px!important;
	border-radius: 25px!important;
    font-size: 18px!important;
}
.map 
{
	background-color:#222;
	/* height:300px; */
}
.map iframe{
	margin-top:50px;
	margin-bottom:30px
}
.sub
{
	margin-top:30px;	
}
.m1
{
	border:1px solid #009966;
	margin-bottom: 20px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}




